*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(194, 154, 233); 
}
.slider{
    width: 1000px;
    height: 700px;
    overflow: hidden;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navigation{
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    height: 30px;
    width: 30px;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(234, 212, 255);
    border-radius: 50%;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 400%;
    height: 100%;
    display: flex;
}
.slide{
    width: 25%;
    transition: all .6s ease;
}
.img{
    width: 1000px;
    height: 700px;
}

#r1:checked ~ .s1{
    margin-left: 0%;
}

#r2:checked ~ .s1{
    margin-left: -25%;
}

#r3:checked ~ .s1{
    margin-left: -50%;
}
#r4:checked ~ .s1{
    margin-left: -75%;
}