*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(252, 206, 255); 
}
.container{
    width: 1000px;
    height: 750px;
}
.slider{
    width: 1000px;
    height: 700px;
    overflow: hidden;
    border: 10px solid purple;
    border-radius: 20px;
    background-color: purple;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navigation{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}
.jokes{
    position: absolute;
    display: flex;
    width: 400%;
    bottom: 0px;
    left: 0;
}
.bar{
    height: 28px;
    width: 28px;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(134, 66, 197);
    border-radius: 50%;
    transition: background-color 0.3s ease
}
.bar:hover{
    background-color: rgb(216, 174, 255);
}
.bar:active{
    background-color: rgb(96, 12, 107);
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 400%;
    height: 100%;
    display: flex;
}
.slide{
    object-fit: cover;
    width: 25%;
    transition: all .6s ease;
}
.img{
    width: 100%;
    height: 92%;
}

#r1:checked ~ .s1{
    margin-left: 0%;
}

#r2:checked ~ .s1{
    margin-left: -25%;
}

#r3:checked ~ .s1{
    margin-left: -50%;
}
#r4:checked ~ .s1{
    margin-left: -75%;
}
.jokes{
    display: flex;
    width: 400%;
}
.joke{
    width: 25%;
    transition: all 0.6s ease;
}
#r1:checked ~ .slide+.jokes .s2{
    margin-left: 0;
}
#r2:checked ~ .slide+.jokes .s2{
    margin-left: -25%;
}
#r3:checked ~ .slide+.jokes .s2{
    margin-left: -50%;
}
#r4:checked ~ .slide+.jokes .s2{
    margin-left: -75%;
}
