*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(194, 154, 233); 
}
.slider{
    width: 1000px;
    height: 700px;
    overflow: hidden;
    border-radius: 10%;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navigation{
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    display: flex;
}